@charset "UTF-8";

/****************** ELEMENT STYLES **************************************/

a {
	color: navy;
	text-decoration: underline;
}

a:hover {
	color: crimson;
	text-decoration: underline;
}

body nav {
    background-color: #132E60;
    padding-top: 20px;
    padding-bottom: 20px;
    /* [disabled]text-align: center; */
}

body nav ul {
    list-style-type: none;
    display: inline;
}

nav ul li {
    display: inline;
}

body header {
    background-color: #D9F4E8;
	padding-bottom: 20px;
}

body {
    background-color: #D9F4E8;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

body nav button {
    border-top-width: thin;
    height: auto;
    color: #5CB04A;
    background-color: #246C14;
    /* [disabled]display: inherit; */
    font-size: 24px;
    /* [disabled]text-align: left; */
}

body nav button:hover {
    color: #D9F4E8;
    background-color: #8BFF72;
}

button {
    margin-right: 20px;
    margin-left: 20px;
}

body footer {
    background-color: #F9F7DB;
	padding: 10px;
	
}

body header img {
    max-width: 100%;
	margin: 10 auto;
	
}
body form {
    text-align: left;
}


/****************** CLASS STYLES **************************************/

.contact {
	text-align: left;
	padding-left: 40px;
}

.visitor_info {
    padding-left: 50px;
}
.welcome_contact {
    text-align: left;
    padding-left: 50px;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
	padding-top: 30px;
	padding-bottom: 20px;

}
.box_1 {
	display: flex;
	 width: 70%;
	margin: auto;
	
}
.box_1 img {
	padding-top: 45px;
	width: 80%;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}



.box_2 {
	display: flex;
	flex-direction: column;
    width: 70%;
	flex-shrink: 1;
	margin: auto;
	padding-top: 30px;
	padding-left: 30px;
	
}

.box_2 h1 {
    text-align: center;
}

.box_2 p {
    font-size: 16pt;
	text-align: left;
	
}

.box_2 ul {
	text-align: left;
}

.box_3 {
    width: 70%;
    padding-left: 40px;
	padding-top: 30px;
    flex-shrink: 1;
	margin: auto;
}

.box_3 img {
	width: 40%;
}


.box_3 h1 {
    text-align: center;
}

.box_3 p {
    font-size: 16pt;

}

.box_4 {
    padding-left: 40px;
}

.box_4 img {
	width: 70%;
}

/****************** ID STYLES **************************************/

#family_pic {
		width: 100%;
		height: auto;
	}


.resume_container {
    display: flex;
    width: 100%;
    height: auto;
	padding-bottom: 20px;

}
.rbox_1 {
	 width: 50%;
	margin: auto;
	
}


.rbox_2 {
	flex-direction: column;
    width: 50%;
	padding-top: 30px;
}


.rbox_2 ul {
	text-align: left;
}

.rbox_2 h3,h4{
	text-align: left;
	padding: 20px;
}

#resume_img {
    width: 40%;
    height: auto;
	float: right;
	padding-right: 20px;
}

/************** MEDIA QUERY FOR RWD********************/
@media (max-width: 1100px){
	.container {
		align-content:center;
		flex-direction: column;
		margin: auto;
	}
	
	.resume_container {
		flex-direction: column;
		align-content: center;
		margin: auto;
	}
	
	.rbox_2{
		text-align: center;
		width: 100%;
	}
	
	#resume_img {
    width: 100%;
	}
}
